.guide-item {
    display: flex;
    justify-content: space-between;
    cursor: default;
    
    &_wrapper {
        display: flex;
        align-items: center;
        max-width: 750px;

        &_container {
            position: relative;
            padding-left: 6.7rem;

            &_number {
                font: 900 12.5rem "Roboto";
                color: #ffffff30;
                position: absolute;
                transform: translate(-50%, -50%);
            }

            &_header {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 30px;
                margin-bottom: 1.25rem;

                &_line {
                    width: 72px;
                    height: 2px;
                    background-color: #fbd784;
                }

                &_title {
                    text-transform: uppercase;
                    color: #fbd784;
                    font: 700 18px "Roboto";
                    letter-spacing: 6px;
                }
            }

            &_annotation {
                font: 400 3.5rem "Montserrat";
                line-height: 4.5rem;
                color: #ffffff;
                text-shadow: 1px 0 #ffffff;
                max-width: 555px;
                margin-bottom: 30px;
            }

            &_description {
                color: #ffffff;
                font: 500 1.1rem "Roboto";
                line-height: 2rem;
                letter-spacing: 0.03rem;
            }
        }
    }

    &_image {
        width: 550px;
        height: 700px;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
        filter: grayscale(0.5);
        transition: filter 0.5s ease;

        :hover > & {
            filter: grayscale(0);
        }
    }
}
