.header-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 2rem;

  &_title {
    font: 600 1.5rem "Montserrat";
    line-height: 2rem;
    color: #ffffff;
  }

  &_navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    &_item {
      a {
        text-decoration: none;
        font: 500 1rem "Montserrat";
        color: #ffffff;
      }
    }
  }
}
